* {
	margin : 0;
	padding: 0;
}

img,
input {
	border: none;
}

li,
ul,
ol {
	list-style: none;
}
a{
	text-decoration: none;
}
body {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size  : 12px;
	color      : #767575;
	position   : relative;
	line-height: 17px;
	width      : 100%;
	background : #ABADC4 url(../images/bg_all.jpg) center 36px no-repeat;
}


.bg_teni {
	box-shadow        : 5px 0 2px #4D4E50, -5px 0 2px #4D4E50;
	width             : 960px;
	margin            : 0 auto;
}

.blue_line {
	position  : absolute;
	left      : 0;
	top       : 0;
	width     : 100%;
	height    : 36px;
	background: #5567AF;
}

.green_line {
	width     : 100%;
	height    : 20px;
	background: url(../images/bg_green_line.png) repeat-x;
	position  : absolute;
	top       : 288px;
	left      : 0;
}

.relative {
	position: relative;
}

.bg_top_menu {
	height    : 36px;
	background: url(../images/bg_top_menu.jpg) -10px 0 no-repeat;
}

.top_menu {
	padding-top: 10px;
}

.top_menu li {
	float       : left;
	display     : block;
	margin-right: 15px;
}

.top_menu li a {
	color    : #FFF;
	font-size: 12px;
	text-decoration: none;
}
.top_menu li a:hover {
	text-decoration: underline;
}

.phone {
	color      : #DD484A;
	float      : right;
	margin     : 10px 0 0 0;
	font-size  : 18px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.for_pleasure {
	position   : absolute;
	top        : 75px;
	left       : 160px;
	color      : #DD484A;
	font-style : italic;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.logo_kompany {
	position: absolute;
	top     : 10px;
	left    : 29px;
}

.adress {
	position   : absolute;
	top        : 231px;
	left       : 30px;
	color      : #DD484A;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.bg_logo_block {
	background: url(../images/bg_header.jpg);
	height    : 253px;
}

.slide_block img.slide {
	margin: 10px 10px 0 0;
}

.slide_block span.listik_2 {
	display : block;
	width   : 103px;
	height  : 63px;
	position: absolute;
	left    : 420px;
	top     : -30px;
}

.padding_top {
	padding-top: 30px;
	background : #FFF;
}

.katalog {
	width        : 230px;
	height       : 308px;
	border       : 1px solid #ECA160;
	box-shadow   : 2px 3px 10px #4D4E50;
	background   : url(../images/bg_katalog.jpg);
	margin-bottom: 30px;
}

.katalog h3 {
	text-align    : center;
	font-size     : 14px;
	text-transform: uppercase;
	margin-top    : 5px;
}

.katalog h3 a {
	text-decoration: none;
	color          : #DC5455;
	font-family    : Georgia, "Times New Roman", Times, serif;
}

.menu_katalog {
	display    : block;
	margin-left: 20px;
	margin-top : 10px;
}

.menu_katalog li {
	text-transform: uppercase;
	display       : block;
	margin-bottom : 13px;
	font-size     : 14px;
	font-family   : Georgia, "Times New Roman", Times, serif;
}

.menu_katalog li a {
	color: #3C52B5;	
}

.menu_katalog li a:hover {
	color: #51C351;
	text-decoration: none;
}

.content {
	padding: 0 20px 30px 20px;	
}

.content span {
	color      : #E07B7A;
	display    : block;
	font-weight: bold;
}

.content p {
	text-indent: 15px;
	text-align : justify;
}

h2 {
	text-transform: uppercase;
	color         : #0022A9;
	font-size     : 14px;
	font-family   : Georgia, "Times New Roman", Times, serif;
	font-weight   : normal;
}

.last_project {
	background: #EDF1FF;
	position  : relative;
}

.last_project div.link_project {
	position: absolute;
	width   : 220px;
	top     : -30px;
	right   : 0;
}

.last_project div a {
	display        : block;
	float          : left;
	text-decoration: none;
}

.last_project div a:hover{
	text-decoration: underline;
}

.last_project div img {
	float : right;
	margin: -10px 10px 0 0;
}

.img_block {
	width : 850px;
	height:180px;
	margin: 0 auto;
}

.last_project ul {
	width : 850px;
	margin: 0 auto;
}

.last_project ul li {
	float      : left;
	margin-left: 40px;
	width      : 162px;
}

.last_project ul li a {
	text-decoration: none;
}

.last_project ul li a span {
	display        : block;
	text-transform : capitalize;
	color          : #6C3E03;
	text-decoration: none;
	text-align     : center;
	font-weight    : bold;
	margin         : 5px 0 15px 0;
}

.last_project ul li a img {
	border: 2px solid #FC6EF0;
}
.last_project ul li a img:hover{
	border:2px solid#51C351;
}

.last_project ul li a b {
	display      : block;
	color        : #CF1D1B;
	text-align   : center;
	font-size    : 14px;
	margin-bottom: 10px;
}

.last_project ul li a b span {
	font-size: 16px !important;
	display  : inline;
	color    : #CF1D1B;
}

.news_content {
	background-color: #FFF;
	padding-top     : 10px;
	padding-bottom  : 20px;
}

.bg_news_block {
	background   : url(../images/bg_news_block.jpg);
	border-radius: 5px;
	box-shadow   : 5px 5px 5px #4D4E50;
	height       : 238px;
}

.otzuvu_klientov {
	padding : 10px;
	position: relative;
}

.otzuvu_klientov h2 {
	margin-bottom: 20px;
}

.otzuvu_klientov img {
	position: absolute;
	left    : 185px;
	top     : 5px;
}

.otzuvu_klientov p {
	border-bottom : 1px dashed #3E4F95;
	padding-bottom: 5px;
	margin-bottom : 5px;
	color         : #3E4F95;
	font-size     : 11px;
}

.otzuvu_klientov p span {
	display: block;
	color  : #C02126;
}

.otzuvu_klientov p b {
	font-weight: normal;
	color      : #C02126;
}

.news_block {
	padding : 10px;
	position: relative;
}

.news_block h2 {
	margin-bottom: 20px;
}

.news_block img {
	position: absolute;
	left    : 100px;
	top     : 5px;
}

.news_block p {
	padding-bottom: 5px;
	margin-bottom : 5px;
	color         : #3E4F95;
	font-size     : 11px;
	border-bottom : 1px dashed #3E4F95;
}

.news_block p span {
	display: block;
	color  : #C02126;
}

.news_block p a {
	color          : #C02126;
	text-decoration: none;
}
.news_block p a:hover{
	text-decoration: underline;
}

.green_line_2 {
	position  : absolute;
	background: url(../images/bg_green_line.png);
	bottom    : 286px;
	left      : 0%;
	display   : block;
	width     : 100%;
	height    : 20px;
	overflow  : visible;
}

.footer {
	height     : 284px;
	background : #5567AF url(../images/bg_footer.jpg) no-repeat;
	padding-top: 20px;
}

.menu_footer {
	display    : block;
	margin-left: 30px;
}

.menu_footer li {
	display      : block;
	margin-bottom: 13px;
}

.padding_none {
	margin: 0 !important;
}

.menu_footer li a {
	color          : #D1DAFF;
	font-size      : 14px;
	text-transform : uppercase;
	font-weight    : bold;
	
	text-shadow    : #000 2px 2px 4px;
}

.menu_footer li a:hover {
	text-shadow: #51C351 2px 2px 4px;
}

.menu_footer_2 li {
	display      : block;
	margin-bottom: 13px;
	text-transform: unset;
}

.menu_footer_2 li a {
	color          : #D1DAFF;
	font-weight    : bold;	
	text-shadow    : #000 2px 2px 4px;
}
.menu_footer_2 li a:hover {
	text-shadow    : #51C351 2px 2px 4px;
}

.footer_logo {
	position: relative;
}

.footer_logo img {
	margin-left: -20px;
}

.footer_logo div {
	position   : absolute;
	right      : 10px;
	top        : 180px;
	color      : #ADBDF1;
	font-weight: bold;
}